* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reem Kufi", sans-serif !important;
  }
  .container{
    width: 100%;
    height: 100vh
  }


  .form-box{
    display: flex;
    flex-direction: column;
    border: #FFFFFF solid 2px;
    background-color: #FFFFFF;
    width: 484px;
    height: 468px;
    margin: 164px 478px;
    padding: 32px;
    align-items: center; 
    border-radius: 15px;
  }

h2{
  color: #012A4A;
  margin-bottom: 36px;
}
input{
  width: 420px;
  height: 44px;
  border-radius: 5px;
  padding: 12px 269px 12px 44px;
  margin: 8px 2px;
}

input[type="text"] {
  width: 420px;
  height: 44px;
  border-radius: 5px;
  padding: 12px 44px 12px 44px;
  margin: 8px 2px;
  background: url('/src/Assets/Icon.png') no-repeat scroll 16px 13px;
}

.form-box {
  height: 475px;

}

.password-input {
  margin-top: 20px;
  margin-left: 18px;
  flex-direction: column;
}

.input-group p {
  color: #012A4A;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.email {
  margin-left: 18px;
}


input[type="password"] {
  width: 420px;
  height: 44px;
  border-radius: 5px;
  padding: 12px 44px;
  margin: 8px 2px;
  background: url('/src/Assets/Iconkey.png') no-repeat scroll 16px 11px;
}

.forgot-link .forgot-password {
  color: #1570EF;
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  margin-left: 18px;
}

.error {
  color: red;
  font-size: 13px;
  margin-bottom: 1px;
}

button{
  padding: 4px 16px;
  width: 420px;
  height: 44px;
  background: #1570EF;
  border-radius: 6px;
  color: #FFFFFF;
  margin-top: 24px;
  font-size: medium;
  }

.login-button p {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
}

.create-account-link {
  margin-left: 5px;
  color: #1570EF;
}

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

 